# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\idea_project\mingrui-shop-parent1\mrsho-parent\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
